.rec {
    padding: 5rem 20rem 5rem 20rem;
    margin-right: 10rem;
    background-color: green;
    border-radius: 1rem 1rem 1rem 1rem ;
    border: 3px solid black;
    height: 400px;
    width: 600px;
    
}

.circle {
    background-color: #ffffff;
    border: 5px solid #000000;
    border-radius: 50% 50% 50% 50%;
    width: 300px;
    height: 300px;
    padding: 3rem 3rem 3rem 3rem;
    text-align: center;
    font-size: 300px;
   
}